.jumbotron {
    display: flex;
    background-image: url(../images/Untitled\ \(4\).png);
    height: 100vh;
    background-size: cover;
    color: antiquewhite;
    align-items: center;
}


.quote {
    position: relative;
    align-self: end;
    justify-self: start;
}

