.jumbotron {
    display: flex;
    background-image: url(../images/Untitled\ \(11\).png);
    height: 100vh;
    background-size: cover;
    color: antiquewhite;
    align-items: center;
}

.button-hover:hover {
    color: #efebe0;
    background-color: #b21368;
}

.carousel-item img {
    background-position: center;
    background-size: cover;
}

.github-static {
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 10000;
}

.linkedin-static {
    position: fixed;
    bottom: 10px;
    left: 15px;
    z-index: 10000;
}

.white {
    background-color: #efebe0";
}

.dark-red {
    background-color: #b2136821;
}

.mid-red {
    background-color: #5F093D;
}

.hot-pink {
    background-color: #ff69b486;
}

.bright-red {
    background-color: #b21368;
}

.light-pink {
    background-color:#d67ba8;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.205);
}